name: Deploy to Sandbox

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Deploy plugin to sandbox
        run: 
          rsync -avz -e "sshpass -p ${{ secrets.SANDBOX_PASSWORD }} ssh -p ${{ secrets.SANDBOX_PORT }}" ./ ${{ secrets.SANDBOX_USER }}@${{ secrets.SANDBOX_HOST }}:/home/username/sandbox.vinolia.sblik.com/wp-content/plugins/

          

