name: Deploy Plugin to Sandbox via FTP

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout your repo
      - name: Checkout Repo
        uses: actions/checkout@v3

      # Step 2: Deploy via FTP
      - name: FTP Deploy
        uses: SamKirkland/FTP-Deploy-Action@4.3.0
        with:
          server: ${{ secrets.SANDBOX_HOST }}
          username: ${{ secrets.SANDBOX_USER }}
          password: ${{ secrets.SANDBOX_PASSWORD }}
          port: ${{ secrets.SANDBOX_PORT }}   # should be 21
          local-dir: "./my-custom-plugin"                      # the folder containing your plugin code
          server-dir: "/sandbox.vinolia.sblik.com/wp-content/plugins/"
