name: Deploy Plugin to Sandbox via FTP (lftp)

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Install lftp
        run: sudo apt-get update && sudo apt-get install -y lftp

      - name: FTP Deploy via lftp
        run: |
          lftp -c "
          open -u ${{ secrets.SANDBOX_USER }},${{ secrets.SANDBOX_PASSWORD }} -p ${{ secrets.SANDBOX_PORT }} ${{ secrets.SANDBOX_HOST }};
          mirror -R ./my-custom-plugin /sandbox.vinolia.sblik.com/wp-content/plugins/ --verbose --only-newer
          "
