name: Deploy to Sandbox

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Deploy to Sandbox
        run: |
          rsync -avz .//home/username/sandbox.vinolia.sblik.com/wp-content/plugins/

